# Ignore node_modules folder
node_modules/

# Ignore build directories and output files
dist/
build/

# Ignore any sensitive or configuration files
.env
package-lock.json

# Ignore system files
.DS_Store
Thumbs.db

.env
